@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@300&family=Source+Code+Pro&display=swap');

:root
{
   --background-color: rgb(246, 246, 249);
   --header-color: white;
   --border-color: rgb(222, 222, 222);
}
*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
@keyframes spin 
{
    0% 
    {
      transform: rotate(0deg);
    }
    100% 
    {
      transform: rotate(360deg);
    }
  }
body
{
    background-color: var(--background-color);
    position: relative;
    min-height: 100vh;
}

/* Header */

.header
{
    background-color: var(--header-color);
    height: 90px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(222, 222, 222);
}
.header-title
{
    font-size: 35px;
    /* border: 1px solid black; */
    padding: 8px;
}
.add-button
{
    background-image: url("images/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background-color);
    height: 35px;
    width: 35px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.add-button:hover
{
    animation: spin 1s linear forwards;
}

/* Main Content */

.book-container
{
    margin: 0 auto;
    padding: 50px;
}
.grid-container
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1em;
}
.book
{
    height: 350px;
    width: 350px;
    text-align: center;
    padding: 25px;
    border: 1px solid var(--border-color);
    margin: 10px;
    justify-self: center;
    background-color: var(--header-color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.book > p
{
    font-size: 20px;
    padding: .5rem;
}
.book > button
{
    font-size: medium;
    width: 100%;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
#delete
{
    background-color: rgb(255, 147, 147);
}
#status
{
    background-color: rgb(167, 249, 167);
}

/* Modal */

dialog
{
    height: 300px;
    width: 300px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
}

dialog > input
{
    padding: 5px;
    border-radius: 5px;
    border: .5px solid;
}

dialog > button 
{
    padding: 10px;
    background-color: rgb(167, 249, 167);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.read-status
{
    display: flex;
    justify-content: space-evenly;
}
.darken-background
{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
/* Footer */

.footer
{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
}
.github-image
{
    background-image: url("images/github-mark.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
}
.footer a:hover
{
    animation: spin .5s linear forwards;
}